.App {
    font-family: Arial, sans-serif;
    text-align: center;
    margin: 20px;
  }
  
  h1 {
    color: #4CAF50;
  }
  
  h2 {
    margin-top: 20px;
  }
  
  p {
    font-size: 1.2em;
    color: #333;
  }

 
  body{
    background-color: #ececec;
  }

  .center-content {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }
  
  .center-heading {
    text-align: center;
    width: 100%;
  }
  


  
  